src/conf/xml-resources/web-service-references/OrderProcessWebService/wsdl/localhost_8080/CDShopServer/OrderProcessWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://orderproc.ws.server.etechies.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://orderproc.ws.server.etechies.com/">

<xs:element name="confirmOrder" type="tns:confirmOrder" />

<xs:element name="confirmOrderResponse" type="tns:confirmOrderResponse" />

<xs:element name="createAccount" type="tns:createAccount" />

<xs:element name="createAccountResponse" type="tns:createAccountResponse" />

<xs:element name="createOrder" type="tns:createOrder" />

<xs:element name="createOrderResponse" type="tns:createOrderResponse" />

<xs:element name="denyOrder" type="tns:denyOrder" />

<xs:element name="denyOrderResponse" type="tns:denyOrderResponse" />

<xs:element name="getAccountInfo" type="tns:getAccountInfo" />

<xs:element name="getAccountInfoResponse" type="tns:getAccountInfoResponse" />

<xs:element name="getOrder" type="tns:getOrder" />

<xs:element name="getOrderResponse" type="tns:getOrderResponse" />

<xs:complexType name="createAccount">
<xs:sequence>
<xs:element name="uname" type="xs:string" />
<xs:element name="upassword" type="xs:string" />
<xs:element name="fname" type="xs:string" />
<xs:element name="lname" type="xs:string" />
<xs:element name="street" type="xs:string" />
<xs:element name="province" type="xs:string" />
<xs:element name="zip" type="xs:string" />
<xs:element name="country" type="xs:string" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrder">
<xs:sequence>
<xs:element name="userId" type="xs:int" />
<xs:element name="cart" type="tns:shoppingCart" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="shoppingCart">
<xs:sequence />
</xs:complexType>

<xs:complexType name="createOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:pOrder" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pOrder">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
<xs:element name="orderItems" type="tns:pOrderItems" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="userId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pOrderItems">
<xs:sequence>
<xs:element name="cdId" type="xs:string" minOccurs="0" />
<xs:element name="poId" type="xs:int" />
<xs:element name="price" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfo">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="fname" type="xs:string" minOccurs="0" />
<xs:element name="lname" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
<xs:element name="province" type="xs:string" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="uname" type="xs:string" minOccurs="0" />
<xs:element name="upassword" type="xs:string" minOccurs="0" />
<xs:element name="userId" type="xs:int" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrder">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:pOrder" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmOrder">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
<xs:element name="paymentInfo" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="denyOrder">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
<xs:element name="paymentInfo" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="denyOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>