web/WEB-INF/wsdl/localhost_8080/CDShopServer/OrderProcessWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://orderproc.ws.server.etechies.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://orderproc.ws.server.etechies.com/" name="OrderProcessWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://orderproc.ws.server.etechies.com/" schemaLocation="http://localhost:8080/CDShopServer/OrderProcessWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getAccountInfo">
<part name="parameters" element="tns:getAccountInfo" />
</message>
<message name="getAccountInfoResponse">
<part name="parameters" element="tns:getAccountInfoResponse" />
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder" />
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse" />
</message>
<message name="denyOrder">
<part name="parameters" element="tns:denyOrder" />
</message>
<message name="denyOrderResponse">
<part name="parameters" element="tns:denyOrderResponse" />
</message>
<message name="confirmOrder">
<part name="parameters" element="tns:confirmOrder" />
</message>
<message name="confirmOrderResponse">
<part name="parameters" element="tns:confirmOrderResponse" />
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount" />
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse" />
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder" />
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse" />
</message>
<portType name="OrderProcessWebService">
<operation name="getAccountInfo">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/getAccountInfoRequest" message="tns:getAccountInfo" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/getAccountInfoResponse" message="tns:getAccountInfoResponse" />
</operation>
<operation name="getOrder">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/getOrderRequest" message="tns:getOrder" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/getOrderResponse" message="tns:getOrderResponse" />
</operation>
<operation name="denyOrder">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/denyOrderRequest" message="tns:denyOrder" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/denyOrderResponse" message="tns:denyOrderResponse" />
</operation>
<operation name="confirmOrder">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/confirmOrderRequest" message="tns:confirmOrder" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/confirmOrderResponse" message="tns:confirmOrderResponse" />
</operation>
<operation name="createAccount">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/createAccountRequest" message="tns:createAccount" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/createAccountResponse" message="tns:createAccountResponse" />
</operation>
<operation name="createOrder">
<input wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/createOrderRequest" message="tns:createOrder" />
<output wsam:Action="http://orderproc.ws.server.etechies.com/OrderProcessWebService/createOrderResponse" message="tns:createOrderResponse" />
</operation>
</portType>
<binding name="OrderProcessWebServicePortBinding" type="tns:OrderProcessWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAccountInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="denyOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="confirmOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrderProcessWebService">
<port name="OrderProcessWebServicePort" binding="tns:OrderProcessWebServicePortBinding">
<soap:address location="http://localhost:8080/CDShopServer/OrderProcessWebService" />
</port>
</service>
</definitions>