web/WEB-INF/wsdl/localhost_8080/CDShopServer/ProductCatalogWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://prodcat.ws.server.etechies.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://prodcat.ws.server.etechies.com/" name="ProductCatalogWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://prodcat.ws.server.etechies.com/" schemaLocation="http://localhost:8080/CDShopServer/ProductCatalogWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getCategoryList">
<part name="parameters" element="tns:getCategoryList" />
</message>
<message name="getCategoryListResponse">
<part name="parameters" element="tns:getCategoryListResponse" />
</message>
<message name="getProductList">
<part name="parameters" element="tns:getProductList" />
</message>
<message name="getProductListResponse">
<part name="parameters" element="tns:getProductListResponse" />
</message>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo" />
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse" />
</message>
<portType name="ProductCatalogWebService">
<operation name="getCategoryList">
<input wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getCategoryListRequest" message="tns:getCategoryList" />
<output wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getCategoryListResponse" message="tns:getCategoryListResponse" />
</operation>
<operation name="getProductList">
<input wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getProductListRequest" message="tns:getProductList" />
<output wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getProductListResponse" message="tns:getProductListResponse" />
</operation>
<operation name="getProductInfo">
<input wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getProductInfoRequest" message="tns:getProductInfo" />
<output wsam:Action="http://prodcat.ws.server.etechies.com/ProductCatalogWebService/getProductInfoResponse" message="tns:getProductInfoResponse" />
</operation>
</portType>
<binding name="ProductCatalogWebServicePortBinding" type="tns:ProductCatalogWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategoryList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProductList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProductInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProductCatalogWebService">
<port name="ProductCatalogWebServicePort" binding="tns:ProductCatalogWebServicePortBinding">
<soap:address location="http://localhost:8080/CDShopServer/ProductCatalogWebService" />
</port>
</service>
</definitions>